$primary:       #C7088E;
$alternate:     #960069;
$secondary:     #707070;
$success:       #4CAF50;
$info:          #00BCD4;
$warning:       #FF9800;
$danger:        #F44336;
$light:         #E5EAED;
$dark:          #29324A;
$white:         #F4F8FB;

//@use "balm-ui/dist/balm-ui";

@use "balm-ui/components/core";
@use 'balm-ui/components/table/table';
@use "balm-ui/components/button/button";
@use "balm-ui/components/icon/icon";
@use 'balm-ui/components/grid/grid';
@use 'balm-ui/components/icon-button/icon-button';
@use 'balm-ui/components/menu/menu';
@use 'balm-ui/components/list/list';
@use 'balm-ui/components/select/select';
@use 'balm-ui/components/tooltip/tooltip';
@use 'balm-ui/components/divider/divider';
@use 'balm-ui/components/tabs/tabs';

@import "./styles";
