/* Fixed Layout */
html,
body {
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
    font-family: 'Roboto';
}

*::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: $primary;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid $dark;
    overflow: hidden;
    border-radius: 0.4rem;

    .wideCard {
      min-width: 100%;
      width: 100%;
    }

    .divider {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .step_btn {
        margin: 5px;
    }

    .smallHeader {
        justify-content: center;

        .logo-small {
            width: 3.5rem;
            height: 3.5rem;
            vertical-align: middle;
        }

        .beet-typo-small {
            font-family: Rajdhani;
            font-size: 2.5rem;
            font-weight: 600;
            line-height: 4.6rem;
            display: inline-block;
            vertical-align: middle;
            margin: 0;
        }
    }

    .beet-typo {
        font-family: Rajdhani;
        font-size: 3.5rem;
        font-weight: 600;
        line-height: 3.5rem;
    }


    .top {
        padding: 15px;
        background: $dark;
        text-align: center;
        color: white;
        position: relative;
    }

    .menubar {
        background: $dark;
        color: $white;
        font-size: 0.9rem;
        line-height: 2rem;

        .title {
            margin: auto;
            -webkit-app-region: drag;
        }

        .frame-controls {
            font-size: 0.6rem;
            background: $dark;
            position: fixed;
            right: 0;
            top: 0;

            span {
                margin: 0px 0.3rem;

                &:hover {
                    color: $primary;
                }
            }

            margin-right:0.5rem;
        }
    }

    .bottom {
        padding: 15px;
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
        color: #222222;
        background: white;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        a {
          text-decoration: none;
        }
    }
}

.main {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.btn,
.form-control {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.btn:focus {
    outline: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
    background: $alternate;
    border: 1px solid $alternate;
    outline: none !important;
    box-shadow: none !important;
    box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.3) !important;
}
.error {
    border-color: $danger !important;
}
.btn-primary {
    background: $primary;
    border: 1px solid $primary;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    border-radius: 1.5rem;
    padding: 0rem 1rem;
}
.btn-secondary {
    background: $secondary;
    border: 1px solid $secondary;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    border-radius: 1.5rem;
    padding: 0rem 1rem;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active {
    background: darken($secondary,15%);
    border: 1px solid darken($secondary,15%);
    outline: none !important;
    box-shadow: none !important;
    color:white;
    box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.3) !important;
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse:focus,
.btn-inverse:not(:disabled):not(.disabled).active,
.btn-inverse:not(:disabled):not(.disabled):active {
    background: $primary;
    border: 1px solid $primary;
    outline: none !important;
    box-shadow: none !important;
    color:white;
    box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.3) !important;
}

.btn-inverse {
    background: $alternate;
    border: 1px solid $alternate;
    outline: none;
    height: 2rem;
    min-width:2rem;
    color:white;
    display:inline-block;
    line-height: 2rem;
    border-radius: 1rem;
    padding: 0rem 0rem;
}

.acc-info {
    margin-left: 10px;
    margin-right: 10px;
}

.acc-form-control {
    position: relative;
    color: black;
    box-sizing: border-box;
    height: auto;
    padding: 0.4rem;
    font-size: 1rem;
    display: inline-block;
    top: 0;
    width: 98%;
    margin: 0.4rem;
    box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.3) !important;
}

.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 0.4rem;
    font-size: 1rem;
    width: 90%;
    display: inline-block;
    margin-left: 0.4rem;
    box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.3) !important;
}

p {
    word-wrap: break-word;
}

.account {
    background: $alternate;
    color: $white;
    line-height:2rem;
    border:1px solid $alternate;
    .icons {
        background: white;
        border-left:1px solid $alternate;
    }
    .label {
        font-size:0.8rem;
        color:white;
        font-weight:bold;
        height:2rem;
        line-height:2rem;
        padding-right:0.5rem;
        border-right:1px solid $alternate;
    }
    .multiselect {
        &.form-control {
            display:block;
            padding: 0;
            height: 2rem;
            line-height: 2rem;
            border-radius: 0;
            width: 100%;
            border-right:1px solid $alternate;
            margin:0;
            font-size:0.8rem;
            color:#222222;
            border:0;
            background:white;
            outline: none;
            text-align:left;
            background-image:
            linear-gradient(45deg, transparent 50%, #222222 50%),
            linear-gradient(135deg, #222222 50%, transparent 50%),
            linear-gradient(to right, #222222, #222222);
          background-position:
            calc(100% - 15px) 1em,
            calc(100% - 10px) 1em,
            calc(100% - 2em) 0.5em;
          background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
          background-repeat: no-repeat;

        &:focus {
          background-image:
            linear-gradient(45deg, #222222 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, #222222 50%),
            linear-gradient(to right, #222222, #222222);
          background-position:
            calc(100% - 10px) 1em,
            calc(100% - 15px) 1em,
            calc(100% - 2em) 0.5em;
          background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
          background-repeat: no-repeat;
          border-color: white;
          outline: 0;
        }
            .multiselect__tags {
                padding-left:0.5rem;


            }
            .multiselect__content-wrapper {
                background:$alternate;
                color:white;
                ul {
                    padding:0;
                    padding-left:0.5rem;
                    margin-bottom:0;
                    list-style: none;
                    li {
                        padding:0;
                        padding-top:0.1rem;
                        padding-bottom:0.1rem;
                        .multiselect__option {
                            display:inline-block;
                        }
                        .multiselect__option--highlight {
                            padding-left:0.5rem;

                        }
                        .multiselect__option--selected {
                            font-weight:bold;
                        }
                    }

                }
            }
        }
    }
    .btn-inverse {
        margin-lefT:0.4rem;
    }
}
.modal-content {
  align-self: stretch;
}
.accountProvide {
    box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.3) !important;
    position:relative;
    border: 1px solid #ced4da;
    padding-left: 1rem;
    .multiselect__content-wrapper {
        position:absolute;
        z-index:100;
        width:100%;
        top: 3.4rem;
        left:0;
        background:white;
        box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.3) !important;
        border: 1px solid #ced4da;
        .multiselect__content {
            list-style:none;
            padding:0;
            margin:0;
            width:100%;
            .multiselect__element {
                margin: 0.3rem;
              border-radius: 0.3rem;
              background: $white;
              line-height: 2.5em;
              &>span {
                  display:inline-block;
                  width:100%;
                  padding-left:0.5rem;
                  padding-right:0.5rem;
              }
                &:hover {
                    color:$white;
                    background: $primary;
                }
            }
        }
    }
}
.linkStyle {

    .multiselect {
        &.form-control {
            display:block;
            padding: 0;
            height: 2.5rem;
            line-height: 2.5rem;
            border:1px solid #222222;
            border-radius: 0.3rem;
            width: 100%;
            margin:0;
            font-size:0.8rem;
            color:#222222;
            background:white;
            outline: none;
            text-align:left;
            background-image:
            linear-gradient(45deg, transparent 50%, #222222 50%),
            linear-gradient(135deg, #222222 50%, transparent 50%),
            linear-gradient(to right, #222222, #222222);
          background-position:
            calc(100% - 15px) 1.25em,
            calc(100% - 10px) 1.25em,
            calc(100% - 2em) 0.625em;
          background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
          background-repeat: no-repeat;

        &:focus {
          background-image:
            linear-gradient(45deg, #222222 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, #222222 50%),
            linear-gradient(to right, #222222, #222222);
          background-position:
            calc(100% - 10px) 1.25em,
            calc(100% - 15px) 1.25em,
            calc(100% - 2em) 0.625em;
          background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
          background-repeat: no-repeat;
          outline: 0;
        }
            .multiselect__tags {
                padding-left:0.5rem;
            }
            .multiselect__content-wrapper {
                background: white;
                color: #222222;
                border: 1px solid #222222;
                border-radius: 0.3rem;
                overflow-y: scroll;
                ul {
                    padding:0;
                    margin-bottom:0;
                    list-style: none;
                    width:100%;
                    li {
                        &:hover {
                            background: $light;
                        }
                        padding:0;
                        padding-left:0.5rem;
                        padding-top:0.1rem;
                        padding-bottom:0.1rem;
                        .multiselect__option {
                            display:inline-block;
                            width:100%;
                            .prevLink {
                                display:inline-block;
                                width:100%;
                                color:$success;
                                &:after {
                                    content: attr(data-linked);
                                }
                            }
                        }
                        .multiselect__option--highlight {
                            //padding-left:0.5rem;

                        }
                        .multiselect__option--selected {
                            font-weight:bold;
                        }
                    }

                }
            }
        }
    }
}
#loaderAnim {
    .modal-content {
        background: none;
        border: 0;
        align-self: center;
    }
}
.balances {
    height: 17rem;
    overflow-y: auto;
    margin-left:15px;
    margin-right:15px;
}
.account-details {
    margin-left:15px;
    margin-right:15px;
}
.import-accounts {
    max-height: 22rem;
    overflow-y: auto;
}
.disabledImport {
    font-style:italic;
    color:gray;
}
pre {
    border: 1px solid lightgray;
    background: #f3f3f3;
    padding: 10px;
}

.custom-select {
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0;
    border: 0 !important;
}

.node-selector {
    background: $dark;
    border-top: 1px solid $dark;
    border-bottom: 1px solid $dark;
    padding: 0.3rem 0rem;
    padding-top:0.2rem;
    line-height:1.5;
    color: $white;
    font-size: 0.9rem;
    a {
        color:white;
        font-weight:bold;
        vertical-align:middle;
        span {
            vertical-align:middle;
        }
        &.active {
            color: $primary;
        }
        &:hover {
            color: $primary;
            font-weight:bold;
            vertical-align:middle;
            text-decoration: none;
        }
    }
}

.status {
    display: inline-block;
    margin: auto;
    vertical-align:baseline;
    font-size: 1rem;
}

.status.icon-connected {
    color: $success;
}

.status.icon-disconnected {
    color: $danger;
}

.content {
    max-height: 30rem;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #cef;
    margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.custom-content {
    max-height: 280px;
}

.lang-select {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;
    line-height: 1.4;
}

.lang-select.multiselect--active .singleLabel {
    background: white;
    color: #0a4f79;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.lang-select .singleLabel {
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
}

.lang-select .singleLabel:hover {
    cursor: pointer;
    background: white;
    color: #0a4f79;
    border-radius: 5px;

}

.lang-select .options .isoCode {
    text-transform: uppercase;
}

.lang-select:focus {
    outline: 0;
}

.lang-select ul {
    list-style: none;
    padding: 0;
    background: white;
    color: #0a4f79;
    border-radius: 5px;
    border-top-right-radius: 0px;
    overflow: hidden;
    max-height: 80vh;
    font-size: 14px;
}

.lang-select ul li {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #0a4f79;
}

.lang-select .multiselect__option--selected {
    font-weight: bold;
}

.lang-select ul li:hover {
    background: #77c5ec;
    cursor: pointer;
}

.alerts {
    position:absolute;
    left:5%;
    right:5%;
    top:3rem;
    width:90%;
}

.dapp-list {
    margin-left: 5px;
    margin-right: 5px;
}

.status .icon-spinner11 {
    color: white;
    cursor: pointer;
}

.status .icon-spinner11:hover {
    color: #29324A;
}
